body{
	background : #4C4C4C;
	font-family: Verdana,Geneva,sans-serif; 
	color : white;
	padding-left : 25px;
}

.info{
	border : 2px solid white;
	width : auto;
	height : auto;
}
table{
	width : 930px;
	height : auto;
	padding : 10px;
	
	border : 2px solid #00A4E4;
	border-radius : 5px;
	  box-shadow: 0 5px 10px rgba(0,0,0,0.3), 0 5px 10px rgba(0,0,0,0.22);
}
#subject{
	background : #3E3E3E;
	/*text-shadow: 2px 2px 3px #969696;*/
}
td{
	width : 300px;
	padding-right : 10px;
	word-break:break-all;
	align : center;
	border-bottom: 1px solid #8E8E8E;
	padding-top : 10px;
	padding-bottom : 10px;
}
